body {
    background-color: azure;
    text-align: justify;

}

#content {
    width: 600px;
    border: 5px aqua;
    margin: auto;
    padding: 10px;
    background-color: wheat;
    border-radius: 10px;
}

img {
   /* width: 600px; */
    width: 100%;
}
